@import '~normalize.css'
@import 'fonts'
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap')
@import 'variables'
@import 'mixins'
@import './components/headers'
@import './components/explore-section'
@import './components/post-section'
@import './components/offer-section'
@import './components/feedback-section'
@import './components/partners-section'
@import './components/main-footer'

h1, h2, h3, h4, p
    margin: 0
    padding: 0
    
body
    font-family: $primary-font
    display: flex
    flex-direction: column
    align-items: center
    width: 100vw
    overflow-x: hidden
    background: $background-color
